# Directories to ignore
**/__pycache__/
data/
log/
wandb/
**/experiments/
**/results/

#files to ignore
neumeta/pretrained_models/cifar100_ResNet56XL-smoothed.pt
neumeta/pretrained_models/cifar100_Resnet56XL.pth